@model List<models.Producto>

@{
    ViewData["Titulo"] = "Listado Productos";
}

<a asp-controller="Productos" asp-action="CrearProducto" class="btn btn-success mb-3">Crear Producto</a>

<h1>@ViewData["Titulo"]</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Modificar</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var producto in Model)
        {
            <tr>
                <td>@producto.IdProducto</td>
                <td>@producto.Descripcion</td>
                <td>@producto.Precio</td>
                <td class="text-center"><a class="nav-link text-dark btn btn-outline-warning" asp-controller="Productos" asp-action="ModificarProducto"  asp-route-id="@producto.IdProducto">Modificar</a></td>
                <td class="text-center"><a class="nav-link text-dark btn btn-outline-danger" asp-controller="Productos" asp-action="Eliminar" asp-route-id="@producto.IdProducto">Eliminar</a></td>
            </tr>
        }
    </tbody>
</table>

